# Ignore All
/*

# Except:
!LICENSE.txt

# Sources
!/src

# github
!/.gitignore
!/README.md

# gradle
!/build.gradle
!/settings.gradle
!/gradle.properties
!/gradlew*
!/gradle

# Travis
!/.travis.yml

!/testProjects
!/example

!/shared-scripts

.gradle/
build/
